/***37.5%****/
 /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
		
		
        .padd{
			
			padding-top:70px;
		}
		
    }
 @media only screen and (min-width : 320px) {
        .padd{
			padding-top:70px;
		}
	
		
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.padd{
			padding-top:120px;
		}
		
		
    }	

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.padd{
			padding-top:120px;
		}
	
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.padd{
			padding-top:120px;
		}
		
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.padd{
			padding-top:120px;
		}
		
    }