.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 .img{
	height:100%;
}
 .ratio{
    position:relative;
    width: 100%;
	height:auto;
    padding-bottom: 70% ; /* % of width, defines aspect ratio*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
.col-xs-15
{
    width: 100%;
    float: left;
}

@media (max-width: 768px)
{

.margen{
margin:1%;
}
.margen_ver{
margin:0.5%;
}
.padd{
padding:1%;
}
.fondobanner {
    display: table;
	background:url('../img/bannerfondo.jpg')  ;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
    .col-xs-15
    {
        width: 98%;
        float: left;
    }
	.col-xs-17{
		width:99%;
		float:left;
		
	}
	.col-xs-16{
		width:32.3333333333333%;
		float:left;
	}
	.col-xs-20{
		width:48%;
		float:left;
	}
	
	
}
@media (min-width: 768px)
{
.margen_ver{
margin:0.5%;
}
.margen{
margin:0.5%;
}
.fondobanner{
	background:url('../img/bannerfondo.jpg')  no-repeat;
	background-size:100%;
	background-position:center;
	
}
    .col-sm-15
    {
        width: 49%;
        float: left;
    }
	.col-sm-16{
		width:32.33333333333333%;
		float:left;
	}
	
}
 
@media (min-width: 992px)
{
.margen_ver{
margin:0.5%;
}
.margen{
margin:0.5%;
}

.col-md-18{
	width:49%;
	float:left;
}
     .col-md-15
     {
        width: 24%;
        float: left;
    }
	.col-md-16{
		width:32.3333333333333%;
		float:left;
	}
}
 
@media (min-width: 1200px)
{
    .col-lg-15
    {
        width: 20%;
        float: left;
    }
}