.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 .img{
	height:100%;
}

 .ratio{
    position:relative;
    width: 100%;
	height:auto;
    padding-bottom: 70% ; /* % of width, defines aspect ratio*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
.col-xs-15
{
    width: 100%;
    float: left;
}
.col-xs-22
{
    width: 50%;
    float: left;
}
.centrarimg{
	width:auto;
	margin:0 auto;
}

.margen_submit{
margin-top:5px;
		margin-bottom:10px;
	}
	.maps iframe{
		width:100%;
		height:25%;
	}


@media (min-width:768px) { 
    .my-row {
        position: relative;
        height: 100%;
        border: 1px solid red;
        overflow: hidden;
    }
    .img-fluid {
        width: 100%
    }
    .row.my-row > [class*="col-"] {
        position: relative
    }
    .background {
        position: absolute;
        padding-top: 200%;
        left: 0;
        top: 0;
        width: 100%;
        background: #ccc;
    }
    .content {
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

}
@media (max-width: 768px)
{
.margenbanner{
		margin-top:15%;
	}
	.margen_anuncio{
		margin-top:17%;
	}
.margen_consulta{
		margin-top:18%;
	}

.margen_ver{
margin:0.5%;
}
.padd{
padding:1%;
}
.fondobanner {
    display: table;
	background:url('../img/bannerfondo.jpg')  ;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
    .col-xs-15
    {
        width: 98%;
        float: left;
    }
	.col-xs-17{
		width:99%;
		float:left;
		
	}
	.col-xs-16{
		width:32.3333333333333%;
		float:left;
	}
	.col-xs-20{
		width:50%;
		float:left;
	}
	.col-xs-23{
		width:48%;
		float:left;
		margin-left:1%;
		margin-right:1%;
	}
	
}
@media (min-width: 768px)
{
.margen_anuncio{
		margin-top:16%;
	}
.margenbanner{
		margin-top:13%;
	}
	.margen_consulta{
		margin-top:16%;
	}
.margen_ver{
margin:0.5%;
}

.fondobanner{
	background:url('../img/bannerfondo.jpg')  no-repeat;
	background-size:100%;
	background-position:center;
	
}
    .col-sm-15
    {
        width: 49%;
        float: left;
		margin-left:0.5%;
		margin-right:0.5%;
    }
	.col-sm-16{
		width:32.33333333333333%;
		float:left;
	}
	
}
 
@media (min-width: 992px)
{
.margen_anuncio{
		margin-top:11%;
	}
.margenbanner{
		margin-top:10%;
	}
	.margen_consulta{
		margin-top:12%;
	}

.col-md-18{
	width:49%;
	float:left;
}
     .col-md-15
     {
        width: 24%;
        float: left;
		margin-left:0.5%;
		margin-right:0.5%;
    }
	.col-md-16{
		width:32.3333333333333%;
		float:left;
	}
	  .col-md-20
    {
        width: 20%;
        float: left;
		margin-bottom:4px;
    }
}
 
@media (min-width: 1200px)
{
.margen_consulta{
		margin-top:10%;
	}
.margenbanner{
		margin-top:10%;
	}
  
}

 